<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="${log.dir}/promoskop.%d{yyyy-MM-dd}.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %d{HH:mm:ss,SSS} %-5p %l - %m%n" />
		</layout>
	</appender>

	<appender name="CACHE-FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${log.dir}/cache.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="1MB" />
		<param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %d{HH:mm:ss,SSS} %-5p %l - %m%n" />
		</layout>
	</appender>

	<!-- <root level="WARN"> -->
	<!-- <appender-ref ref="FILE" /> -->
	<!-- <appender-ref ref="CONSOLE" /> -->
	<!-- </root> -->

	<logger name="com.mudo.promoskop">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework">
		<level value="WARN" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="com.mchange">
		<level value="INFO" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="cache">
		<level value="DEBUG" />
		<appender-ref ref="CACHE-FILE" />
	</logger>
</log4j:configuration>